<%- include ("../shared/includes/head", {pageTitle: "Become PRO in CLO!" })%>
  </head>

  <body>
    <%- include ("../shared/includes/header") %>
    
      <main>
        <section id="slogan">
          <h1>here is admin area</h1>
        </section>
      </main>
      <%- include ("../shared/includes/footer") %>
    

  </body>

  </html>