<%- include ("includes/head", {pageTitle: "Become PRO in CLO!" })%>
  </head>

  <body>
    <%- include ("includes/header", {pageName:"login"}) %>

      <main>
        <section id="slogan">
          <h1>unlock your inner PRO!</h1>
        </section>
      </main>
      <%- include ("includes/footer") %>
    

  </body>

  </html>