<%- include ("includes/head", {pageTitle: "Login!" })%>
  </head>

  <body>
    
    <%- include ("includes/header") %>

      <main>
        <section id="slogan">
          <h2>let's get to work!</h2>
        </section>

        <section>
          <div class="login-container">
            <h2>log in</h2>
            <form action="/login" method="POST">
              <div class="input-group">
                <label for="email">email</label>
                <input type="email" id="email" name="email" required>
              </div>
              <div class="input-group">
                <label for="password">password</label>
                <input type="password" id="password" name="password" required>
              </div>
              <button id="login-btn" class="login-btn" >login</button>
            </form>
            <p class="signup-link">doesn't have an account yet? <a href="/join">SIGN UP</a></p>
          </div>
        </section>
      </main>

      <%- include ("includes/footer") %>
    

  </body>

  </html>