<%- include ("includes/head", { title: "3D Fashion Shop"})%>
<link href="/styles/products.css" rel="stylesheet" />
<link href="/styles/single-product.css" rel="stylesheet" />  
  </head>

  <body>
    <%- include ("includes/header") %>
    <%- include("includes/product-page-item", {product: product})  %>
    <%- include ("includes/footer") %>   
  </body>
  </html>