<%- include ("../shared/includes/head", {pageTitle: "Become PRO in CLO!" })%>
  </head>

  <body>
    <%- include ("../shared/includes/header", {pageName: "myPage"})%>

      <main>
        <section id="slogan">
          <h1>welcome back!</h1>
        </section>
      </main>
      <%- include ("../shared/includes/footer") %>
    

  </body>

  </html>