<%- include ("./shared/includes/head", {pageTitle: "401 Error" })%>
  </head>

  <body>
    <%- include ("./shared/includes/header") %>

      <main>
        <section class="page-title">
          <h1>unlock your inner PRO!</h1>
        </section>
          <p>You are not authenticated!</p>
      </main>
      <%- include ("./shared/includes/footer") %>
    

  </body>

  </html>