<% if (!posts || posts.length === 0) {%>
    <p>No posts found - maybe start creating some?</p>
  <% } else {%>
    <% for (const post of posts) {%>
    <div class="basic-container" id="blog-posts">
      <h2><%= post.title %></h2>
      <p><%= post.content %></p>
      <% if (locals.isAdmin) {%>
      <div id="edit-delete-btn">
        <button class="basic-btn"><a href="/posts/<%= post._id %>/edit">edit</a></button>
        <button class="basic-btn"><a href="/posts/<%= post._id %>/delete">delete</a></button>
        <button class="basic-btn">hide</button>
      </div>
      <% } %>
    </div>
    <% } %>
  <% } %>