<% if (!posts || posts.length === 0) {%>
<p>No posts found - maybe start creating some?</p>
<% } else {%> <% for (const post of posts) {%>
<div class="basic-container" id="blog-posts">
  <h2><%= post.title %></h2>
  <p><%= post.content %></p>
  <% if (locals.isAdmin) {%>
  <div id="btn-container">
    <button class="blog-btn">
      <a href="/posts/<%= post._id %>/edit">edit</a>
    </button>
    <button class="blog-btn">hide</button>
    <form
      id="form-delete"
      class="blog-btn-form"
      action="/posts/<%= post._id %>/delete"
      method="POST"
    >
      <button class="blog-btn">delete</button>
    </form>
  </div>
  <% } %>
</div>
<% } %> <% } %>
