<footer>
    <h2>see you on..</h2>
    <div id="socials">
      <a><img src=https://www.svgrepo.com/show/510026/instagram.svg alt="youtube logo"></a>
      <a><img src=https://www.svgrepo.com/show/510045/linkedin.svg alt="youtube logo"></a>
      <a><img src=https://www.svgrepo.com/show/510359/youtube.svg alt="youtube logo"></a>
    </div>
  </footer>