<footer>
  <div id="footer">
    <div>
      <h2>see you on..</h2>
      <div id="socials">
        <a
          ><img src=https://www.svgrepo.com/show/510026/instagram.svg
          alt="Instagram logo"></a
        >
        <a
          ><img src=https://www.svgrepo.com/show/510045/linkedin.svg alt="Linkedin
          logo"></a
        >
        <a
          ><img src=https://www.svgrepo.com/show/510359/youtube.svg alt="Youtube
          logo"></a
        >
      </div>
    </div>
    <div>
      <% if (!locals.isAdmin) {%>
      <h2>contact us..</h2>
      <% } %>
      <div>
        <a id="contact" href="/contact"
          ><img src=https://www.svgrepo.com/show/317909/contact-mail.svg
          alt="Contact Us logo"></a
        >
      </div>
    </div>
  </div>
</footer>
