<header>
  <nav>
    <div id="logo">
      <a href="/">stitch&RENDER</a>
    </div>
    <%- include("nav-items") %>
    <div>
      <button id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
</header>
<aside>
  <nav id="mobile-menu"><%- include("nav-items") %></nav>
</aside>
