<header>
    <nav>
      <div id="logo">
        <a href="/">stitch&RENDER</a>
      </div>
      <div id="nav-items">
        <div>
          <a href="/about">about</a>
        </div>
        <div>
          <a href="/videos">videos</a>
        </div>
        <div>
          <a href="/blog">blog</a>
        </div>
        <div>
          <a href="/contact">contact</a>
        </div>
        <div>
          <a href="/join">JOIN</a>
        </div>
        <div>
          <a href="/about">login</a>
        </div>
      </div>
    </nav>
  </header>