<div id="nav-items">
  <div class="nav-item">
    <a href="/about">about</a>
  </div>
  <div class="nav-item">
    <a href="/products">products</a>
  </div>
  <div class="nav-item">
    <a href="/videos">videos</a>
  </div>
  <div class="nav-item">
    <a href="/blog">blog</a>
  </div>
   <% if (locals.isAdmin) {%>
  <div class="nav-item">
    <a href="/admin">admin</a>
  </div>
  <% } %> <% if (locals.isAuth && !locals.isAdmin) {%>
  <div class="nav-item">
    <a href="/mypage">myPage</a>
  </div>
  <% } %> <% if (locals.isAuth || locals.isAdmin) {%>
  <div class="nav-item">
    <form id="logout-form" action="/logout" method="POST">
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
      <button class="logout-btn" type="submit">logout</button>
    </form>
  </div>
  <% } %> <% if (!locals.isAuth) {%>
  <div class="nav-item">
    <a href="/join">JOIN</a>
  </div>
  <div class="nav-item">
    <a href="/login">login</a>
  </div>
<% } %>
</div>
