#cart-container {
  display: grid;
  grid-template-columns: 1.85fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto 50px auto;
}

h2,
p {
  margin: 0;
}

#cart-total {
  grid-column: 2/ 2;
  grid-row: 1/1;
}
#cart-item-details {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
}
.cart-item {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 3px 3px 3px var(--color-grey-200), -3px -3px 3px white;
  background: var(--color-grey-100);
}
.image-container {
  grid-column: 1 / 2;
  grid-row: 1/2;
  max-width: 100px;
}

.cart-item-quantity {
  display:flex;
  justify-content: space-around;
  gap:10px;
}
