#cart-container {
  display: grid;
  grid-template-columns: 1.85fr 1fr;
  grid-template-rows: 2rem 2rem auto;
  gap: 10px;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(240, 240, 240, 1) 0%,
    rgba(242, 242, 242, 1) 65%,
    rgba(245, 245, 245, 1) 100%
  );
  padding: 20px;
  border-radius: 12px;
  box-shadow: 3px 3px 3px var(--color-grey-200), -3px -3px 3px white;
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 10px auto 50px auto;
}

h2,
p {
  margin: 0;
}

#cart-total-price {
  grid-column: 2/ 2;
  grid-row: 1/1;
}
#cart-total-order {
  grid-column: 2/ 2;
  grid-row: 2/2;
}
#cart-items {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
.cart-item-info {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  gap: 10px;
}
.image-container {
  grid-column: 1 / 2;
  grid-row: 1/2;
  max-width: 100px;
}

.cart-item-details {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  display: grid;
  
}

.cart-item-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  align-self:end;
}
.cart-item-edit button {
  font-size: 0.75rem;
  padding: 5px;
}
