#admin-products,
#add-product {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  gap: 20px;
}

#product-edit-del-btn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

#admin-products .basic-btn,
#add-product .basic-btn,
#product-edit-del-btn .basic-btn {
    display: flex;
    justify-content: center;
    padding: 0;
  }

#admin-products a,
#add-product a,
#product-edit-del-btn a {
    width: 100%;
    height: 100%;
    padding: 10px;
}

#delete-product-btn{
  display: flex;
    justify-content: center;
    align-items: center;
}

#image-upload-control{
  display: flex;
  align-items: center;

}

#image-upload-control input{
  max-width: 15rem;
}
#image-upload-control img{
  display:none;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  
}

.product-container {
  background-color: var(--color-grey-100);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 3px 3px 3px var(--color-grey-200), -3px -3px 3px white;
  text-align: center;
  margin: 10px auto 50px auto;
}

.product-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.image-container {
  height: 300px;
  display: flex;
}

#product-list {
  display: grid;
  max-width: 1024px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
}
