.single-product {
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  grid-template-rows: 3rem 3rem auto;
  gap: 10px;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}
.single-product p{
    margin:0;
    padding:0;
    }
.image-container {
  grid-column: 1 / 2;
  grid-row: 1/4;
}


.description-container {
  grid-column: 2 / 2;
  grid-row: 3 / 3;
  white-space: pre-wrap;
  align-self: start;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.price-container {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}

.button-container {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  align-self: start;
}

.buy-btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background: var(--color-grey-100);
  box-shadow: 3px 3px 3px var(--color-grey-200), -3px -3px 3px white;
  color: var(--color-contrast-main);
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  border: none;
  outline: none;
}

.buy-btn:hover {
  background-color: var(--color-contrast-main);
  box-shadow: 3px 3px 3px var(--color-grey-200), -3px -3px 3px white;
  color: white;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-contrast-main);
}

/* @keyframes gradientBackgroundMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.title-gradient {
  text-shadow: none;
  background: linear-gradient(90deg, var(--color-white), var(--color-contrast-main));
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation: gradientBackgroundMove 3s linear infinite alternate;
} */
