#all-video-container {
    display: grid;
    max-width: 1024px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
  }
  .video-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
  }
  .video-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
  }
  .locked-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    cursor: pointer;
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-width: 0;
    padding: 0;
    margin: 0;
  }

  .locked-a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
  .locked-a a{
    text-decoration: none;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  @media screen and (max-width: 768px) {
    #all-video-container {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    
  }