<%- include ("../../shared/includes/head", {title: "All products."})%>
  </head>

  <body>
    <%- include ("../../shared/includes/header") %>
    
      <main>
        <section class="page-title">
          <h1>product administration</h1>
        </section>
        <section>
          <h2>manage products</h2>
          <p>
            <a href="/admin/products/new" class="basic-btn">add new product</a>
          </p>
        </section>
        <section>
          <p> list of products...</p>
        </section>
      </main>
      <%- include ("../../shared/includes/footer") %>
    

  </body>

  </html>