<%- include ("../../shared/includes/head", {title: "Add new product"})%>
<link href="/styles/products.css" rel="stylesheet" />
<script src="/scripts/image-preview.js" defer></script>   
</head>

  <body>
    <%- include ("../../shared/includes/header") %>
    
      <main>
        <section class="page-title">
          <h1>new product</h1>
        </section>
        <section>
          <%- include("includes/product-form", {submitPath: "/admin/products", product: {title: "",summary: "",description: "",price: ""}, imageRequired: true}) %>
        </section>
      </main>
      <%- include ("../../shared/includes/footer") %>
    

  </body>

  </html>